@font-face {
  font-family: Pro-display-medium;
  src: url(chirp_regular.otf);
}

*{
  padding: 0;
  margin: 0;
}

.open{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-family: Pro-display-medium;
  margin-bottom: 0;
}

.logo{
  height: 100vh;
  line-height: 100vh;
  margin-bottom: 0px;
  text-align: center;
}

.ins{
  text-align: center;
  max-width: 600px;
}

#go{
  font-size: 5vw;
  margin-top: 0px;
  text-decoration: none;
  color: black;
  font-family: Pro-display-medium;
  font-weight: lighter;
}

a{
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 601px) {
  #go{
    font-size: 23px;
    transition: all 0.3s ease-in-out
  }
}
@media screen and (max-width: 600px) {
  #go{
    font-size: 16px;
    transition: all 0.3s ease-in-out
  }
}

header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  font-family: pro-display-medium;
  font-size: small;
  margin-top: 20px;
}


/*.logo{
  margin: 200px auto;
  text-align: center;
  margin-bottom: 25px;
}

h2{
  text-align: center;
  font-family: pro-display-medium;
  margin-bottom: 25px;
}

h2 a{
  text-decoration: none;
  color: black;
}*/

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: pro-display-medium;
  font-size: small;
  margin-bottom: 20px;
}

footer a{
  text-decoration: none;
  color: black;
  padding-bottom: 20px;
}

/*contact*/

.logo2{
  text-align: center;
  margin: 50px auto;
  margin-bottom: 4.5vw;
  max-width: 700px;
}

.h2{
  font-size: 8vw;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 10px;
  font-family: pro-display-medium;
  font-weight: lighter;
}

@media screen and (min-width: 601px) {
  .h2{
    font-size: 40px;
    transition: all 0.3s ease-in-out
  }
}
@media screen and (max-width: 600px) {
  .h2{
    font-size: 30px;
    transition: all 0.3s ease-in-out
  }
}

.frm{
  font-family: pro-display-medium;
  color: white;
  margin-top: 100px;
  margin-bottom: 50px;
 
}

@media screen and (min-width: 601px) {
  .frm {
    width:  700px;
    transition: all 0.3s ease-in-out
  }
}

@media (min-width: 480px) and (max-width: 768px){
  .frm{
    width: 500px;
    transition: all 0.3s ease-in-out
  }
}

@media screen and (max-width: 480px) {
  .frm {
    width: 100px;
    transition: all 0.3s ease-in-out
  }
}

#form label{
  display: block;
  text-align: center;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

#m1{
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  padding: 18px 18px;
  width: 60%;
  max-width: 350px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
}

#m2{
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  padding: 18px 18px;
  width: 60%;
  max-width: 350px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
}

#m3{
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  padding: 18px 18px;
  width: 60%;
  max-width: 350px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
}

textarea{
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  margin: 15px auto;
  resize: vertical;
  min-height: 150px;
  max-height: 300px;
  width: 65%;
  max-width: 370px;
  text-align: left;
  display: flex;
  padding-top: 10px;
  padding-left: 15px;
  font-family: pro-display-medium;
}

.btn2{
  text-align: center;
  font-family: Pro-display-medium;
}

#m{
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 10px;
  cursor: pointer;
  font-family: Pro-display-medium;
}

/*thank you*/


.thank{
  height: 100vh;
  line-height: 100vh;
  margin-bottom: 0px;
  text-align: center;
  font-size: large;
}

#close{
  font-size: medium;
  margin-top: 0px;
  text-decoration: none;
  color: black;
}

.par{
  font-size: 220%;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-family: Pro-display-medium;
  margin-bottom: 0;
}

@media screen and (min-width: 601px) {
  .par{
    font-size: 60px;
    transition: all 0.3s ease-in-out
  }
}
@media screen and (max-width: 600px) {
  .par{
    font-size: 40px;
    transition: all 0.3s ease-in-out
  }
}

.inv{
  font-family: pro-display-medium;
  font-weight: lighter;
  padding-top: 20px;
}

@media screen and (min-width: 601px) {
  .inv{
    padding-top: 20px;
    transition: all 0.3s ease-in-out
  }
}
@media screen and (max-width: 600px) {
  .inv{
    padding-top: 0px;
    transition: all 0.3s ease-in-out
  }
}

#break{
  padding: 5px;
}

/*#foot{
  position: static;
  left: 0;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-family: pro-display-medium;
  font-size: small;
  margin-top: 125px;
}

#foot a{
  text-decoration: none;
  color: black;
  padding-bottom: 20px;
}*/