@font-face {
  font-family: Pro-display-medium;
  src: url(chirp_regular.otf);
}

@font-face {
  font-family: chirp-bold;
  src: url(Chirp\ Web\ Bold.ttf);
}

body{
  padding: 0;
  margin: 0;
  background: #f1f1f1;
}

.open{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-family: Pro-display-medium;
  margin-bottom: 0;
}

.logo{
  height: 100vh;
  line-height: 100vh;
  margin-bottom: 0px;
  text-align: center;
}

@media screen and (min-width: 601px) {
  .logo{
    height: 100vh;
  line-height: 100vh;
    transition: all 0.3s ease-in-out
  }
}
@media screen and (max-width: 600px) {
  .logo{
    height: 90vh;
  line-height: 90vh;
    transition: all 0.3s ease-in-out
  }
}

.ins{
  text-align: center;
  max-width: 600px;
}

#go{
  font-size: 5vw;
  margin-top: 0px;
  text-decoration: none;
  color: black;
  font-family: Pro-display-medium;
  font-weight: lighter;
}

a{
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 601px) {
  #go{
    font-size: 23px;
    transition: all 0.3s ease-in-out
  }
}
@media screen and (max-width: 600px) {
  #go{
    font-size: 16px;
    transition: all 0.3s ease-in-out
  }
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: small;
  background-color: rgb(17, 17, 17, 0.8);
  padding-top: 15px;
  padding-bottom: 10px;
  z-index: 5;
  backdrop-filter: blur(8px);
}

@media screen and (max-width: 600px) {
  header{
    padding-bottom: 5px;
    transition: all 0.3s ease-in-out
  }
}

#logo-s{
  width: 120px;
}

@media screen and (min-width: 601px) {
  #logo-s{
    width: 120px;
    transition: all 0.3s ease-in-out
  }
}
@media screen and (max-width: 600px) {
  #logo-s{
    width: 60px;
    transition: all 0.3s ease-in-out
  }
}

/*.logo{
  margin: 200px auto;
  text-align: center;
  margin-bottom: 25px;
}

h2{
  text-align: center;
  font-family: pro-display-medium;
  margin-bottom: 25px;
}

h2 a{
  text-decoration: none;
  color: black;
}*/

#footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: pro-display-medium;
  font-size: small;
  margin-bottom: 20px;
}

#footer a{
  text-decoration: none;
  color: black;
  padding-bottom: 20px;
}

/*contact*/

.logo2{
  text-align: center;
  margin: 50px auto;
  margin-bottom: 4.5vw;
  max-width: 700px;
}

.h2{
  font-size: 8vw;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 10px;
  font-family: pro-display-medium;
  font-weight: lighter;
}

@media screen and (min-width: 601px) {
  .h2{
    font-size: 40px;
    transition: all 0.3s ease-in-out
  }
}
@media screen and (max-width: 600px) {
  .h2{
    font-size: 30px;
    transition: all 0.3s ease-in-out
  }
}

#h2id{
  margin-bottom: 50px;
}

.frm{
  font-family: pro-display-medium;
  color: white;
  margin-top: 100px;
  margin-bottom: 50px;
 
}

@media screen and (min-width: 601px) {
  .frm {
    width:  700px;
    transition: all 0.3s ease-in-out
  }
}

@media (min-width: 480px) and (max-width: 768px){
  .frm{
    width: 500px;
    transition: all 0.3s ease-in-out
  }
}

@media screen and (max-width: 480px) {
  .frm {
    width: 100px;
    transition: all 0.3s ease-in-out
  }
}

#form label{
  display: block;
  text-align: center;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

#m1{
  border: 1px solid black;
  color: black;
  padding: 18px 18px;
  width: 60%;
  max-width: 350px;
  min-width: 250px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
}

#m2{
  border: 1px solid black;
  color: black;
  padding: 18px 18px;
  width: 60%;
  max-width: 350px;
  min-width: 250px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
}

#m3{
  border: 1px solid black;
  color: black;
  padding: 18px 18px;
  width: 60%;
  max-width: 350px;
  min-width: 250px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
}

textarea{
  border: 1px solid black;
  color: black;
  margin: 15px auto;
  resize: vertical;
  min-height: 150px;
  max-height: 300px;
  width: 60%;
  max-width: 350px;
  min-width: 250px;
  text-align: left;
  display: flex;
  padding-top: 10px;
  padding-left: 15px;
  font-family: pro-display-medium;
}

.btn2{
  text-align: center;
  font-family: Pro-display-medium;
}

#m{
  background-color: black;
  border: none;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 10px;
  cursor: pointer;
  font-family: chirp-bold;
}

h4{
  text-align: center;
  padding-top: 40px;
  font-family: Pro-display-medium;
  font-weight: lighter;
}

@media screen and (min-width: 601px) {
  h4{
    transition: all 0.3s ease-in-out
  }
}
@media screen and (max-width: 600px) {
  h4{
    font-size: 12px;
    transition: all 0.3s ease-in-out
  }
}

/*thank you*/


.thank{
  height: 100vh;
  line-height: 100vh;
  margin-bottom: 0px;
  text-align: center;
  font-size: large;
}

@media screen and (min-width: 601px) {
  .thank{
    height: 100vh;
  line-height: 100vh;
    transition: all 0.3s ease-in-out
  }
}
@media screen and (max-width: 600px) {
  .thank{
    height: 90vh;
  line-height: 90vh;
    transition: all 0.3s ease-in-out
  }
}

#close{
  font-size: medium;
  margin-top: 0px;
  margin-right: 20px;
  text-decoration: none;
  display: flex;
  float: right;
  margin-left: 100px;
}

#home-btn{
  padding-right: 8px;
  padding-top: 16px;
}

@media screen and (max-width: 600px) {
  #home-btn{
    padding-top: 0px;
    transition: all 0.3s ease-in-out
  }
}

#home-txt{
  display: block;
 text-align: right;
}

@media screen and (max-width: 600px) {
  #home-txt{
    font-size: 0;
    transition: all 0.3s ease-in-out
  }
}

.par{
  font-size: 220%;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-family: chirp-bold;
  margin-bottom: 0;
}


@media screen and (min-width: 601px) {
  .par{
    font-size: 60px;
    transition: all 0.3s ease-in-out
  }
}
@media screen and (max-width: 600px) {
  .par{
    font-size: 40px;
    transition: all 0.3s ease-in-out
  }
}

.inv{
  font-family: pro-display-medium;
  font-weight: lighter;
  padding-top: 20px;
}

@media screen and (min-width: 601px) {
  .inv{
    padding-top: 20px;
    transition: all 0.3s ease-in-out
  }
}
@media screen and (max-width: 600px) {
  .inv{
    padding-top: 0px;
    transition: all 0.3s ease-in-out
  }
}

#break{
  padding: 5px;
  font-family: chirp-bold;
}

/*#foot{
  position: static;
  left: 0;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-family: pro-display-medium;
  font-size: small;
  margin-top: 125px;
}

#foot a{
  text-decoration: none;
  color: black;
  padding-bottom: 20px;
}*/

/*gallery

*:focus{
    outline: none;
}

h1{
    text-align: center;
    margin-top: 160px;
    font-family: Pro-display-medium;
    font-weight: lighter;
    
}

@media screen and (min-width: 601px) {
  h1{
   font-size: 60px;
   
    transition: all 0.3s ease-in-out
  }
}
@media screen and (max-width: 600px) {
  h1{
    font-size: 40px;
    margin-top: 120px;

    transition: all 0.3s ease-in-out
  }
}

#gallery-box

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'roboto', sans-serif;
    
}

.gallery{
    width: 80%;
    height: 90vh;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gallery-image{
    width: 30%;
    height: 30%;
    min-width: 300px;
    min-height: 300px;
    margin: 10px;
    overflow: hidden;
}

@media screen and (min-width: 601px) {
    .gallery-image{
      transition: all 0.3s ease-in-out
    }
  }
  @media screen and (max-width: 600px) {
    .gallery-image{
        margin: -30px;
      transition: all 0.3s ease-in-out
    }
  }

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
    filter: grayscale(100%);
}

@media screen and (min-width: 601px) {
    .image{
      width: 100%;
      transition: all 0.3s ease-in-out
    }
  }
  @media screen and (max-width: 600px) {
    .image{
      width: 75%;
      height: 75%;
      margin-left: 12%;
      transition: all 0.3s ease-in-out
    }
  }

.image:hover{
    filter: none;
    
}

@media screen and (min-width: 601px) {
    .image:hover{
      transform: scale(1.1);
    transition: all 0.5s ease-in-out
    }
  }

/* popup 

.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 70%;
    max-width: 500px;
    height: 60vh;
    max-height: 500px;
    /*background: rgba(255, 255, 255, 0.75);
    border: 1px solid black;
    backdrop-filter: blur(10px);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    overflow: hidden;
    transition: 1s;
    opacity: 0;
}

@media screen and (min-width: 601px) {
    .popup{
      height: 60vh;
      transition: all 0.3s ease-in-out
    }
  }
  @media screen and (max-width: 600px) {
    .popup{
      height: 60vh;
      max-height: 300px;
      max-width: 300px;
      transition: all 0.3s ease-in-out
    }
  }
  @media screen and (max-width: 450px) {
    .popup{
      height: 60vh;
      width: 100%;
      max-width: 350px;
    max-height: 350px;
      transition: all 0.3s ease-in-out
    }
  }

.popup.active{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.popup.active .close-btn,
.popup.active .image-name,
.popup.active .index,
.popup.active .large-image,
.popup.active .arrow-btn{
    opacity: 1;
    transition: opacity .3s;
   
}

/*.top-bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-weight: 300;
}

.image-name{
    opacity: 0;
    font-size: 0px;
}



/*.arrow-btn:hover{
    background: rgba(0, 0, 0, 0.5);
}

.index{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-weight: 300;
    font-size: 0px;
}

.large-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}

@media screen and (max-width: 600px) {
    .large-image{
      transition: all 0.3s ease-in-out
    }
  }
@media screen and (max-width: 450px) {
    .large-image{
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: all 0.3s ease-in-out
    }
  }

.close-btn{
    opacity: 0;
    position: absolute;
    top: 30px;
    right: 15px;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    filter: opacity(0%);
}

.close-btn:hover{
    filter: opacity(50%);
}

.arrow-btn{
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
}

.left-arrow{
    left: 8px;
    transform: translateY(-50%) rotate(180deg);
    filter: opacity(0%);
}

.right-arrow{
    right: 8px;
    filter: opacity(0%);
}

.arrow-btn:hover{
    filter: opacity(50%);
}

#close{
  font-size: medium;
  margin-top: 0px;
  text-decoration: none;
  color: black;
}

.copy{
  text-align: center;
  padding-bottom: 20px;
}*/


h1{
  text-align: center;
  margin-top: 120px;
  padding-bottom: 40px;
  font-family: Pro-display-medium;
  font-weight: lighter;
  color: black;
}

@media screen and (min-width: 601px) {
h1{
 font-size: 60px;
  transition: all 0.3s ease-in-out
}
}
@media screen and (max-width: 600px) {
h1{
  font-size: 40px;
  margin-top: 70px;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out
}
}

*, *:before, *:after {
  box-sizing: border-box;
}

.gallery {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
.galleryvid {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

}
.gallery-image {
  min-width: 300px;
  max-width: 300px;
  flex: 1 1 300px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 1rem;
}

.container {
  min-height: 100vh;
  padding: 2rem 0;
  color: #e4e4e8;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.gallery-video {
  min-width: 418px;
  max-width: 418px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 1rem;
}

.gallery-video figure {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.gallery-video figure iframe {
  display: block;
  max-width: 100%;
  max-height: auto;
  overflow: hidden;
}

@media screen and (min-width: 601px) {
  .gallery-video figure iframe{
    width: 100%;
    min-height: 226px;
    transition: all 0.3s ease-in-out
  }
}
@media screen and (max-width: 600px) {
  .gallery-video figure iframe{
    width: 75%;
    min-height: 170px;
    margin-left: 12%;
    transition: all 0.3s ease-in-out
  }
}


.gallery-image figure {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.gallery-image figure img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

@media screen and (min-width: 601px) {
  .gallery-image figure img{
    width: 100%;
    min-height: 300px;
    transition: all 0.3s ease-in-out
  }
}
@media screen and (max-width: 600px) {
  .gallery-image figure img{
    width: 75%;
    margin-left: 12%;
    transition: all 0.3s ease-in-out
  }
}

.gallery-image figure img:hover{
  filter: none;
  
}

@media screen and (min-width: 601px) {
  .gallery-image figure img:hover{
    transform: scale(1.1);
  transition: all 0.5s ease-in-out
  }
}


/* popup*/ 

.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 70%;
    max-width: 500px;
    height: 60vh;
    max-height: 500px;
    /*background: rgba(255, 255, 255, 0.75);
    border: 1px solid black;
    backdrop-filter: blur(10px);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);*/
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    overflow: hidden;
    transition: 1s;
    opacity: 0;
}

@media screen and (min-width: 601px) {
    .popup{
      height: 60vh;
      transition: all 0.3s ease-in-out
    }
  }
  @media screen and (max-width: 600px) {
    .popup{
      height: 60vh;
      max-height: 300px;
      max-width: 300px;
      transition: all 0.3s ease-in-out
    }
  }
  @media screen and (max-width: 450px) {
    .popup{
      height: 60vh;
      width: 100%;
      max-width: 350px;
    max-height: 350px;
      transition: all 0.3s ease-in-out
    }
  }

.popup.active{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.popup.active .close-btn,
.popup.active .image-name,
.popup.active .index,
.popup.active .large-image,
.popup.active .arrow-btn{
    opacity: 1;
    transition: opacity .3s;
   
}

/*.top-bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-weight: 300;
}*/

.image-name{
    opacity: 0;
    font-size: 0px;
}



/*.arrow-btn:hover{
    background: rgba(0, 0, 0, 0.5);
}*/

.index{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-weight: 300;
    font-size: 0px;
}

.large-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    border-radius: 15px;
}

@media screen and (max-width: 600px) {
    .large-image{
      transition: all 0.3s ease-in-out
    }
  }
@media screen and (max-width: 450px) {
    .large-image{
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: all 0.3s ease-in-out
    }
  }

.close-btn{
    opacity: 0;
    position: absolute;
    top: 30px;
    right: 15px;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    filter: opacity(50%);
}

@media screen and (max-width: 600px) {
  .close-btn{
    margin-right: -13px;
    margin-top: -10px;
    transition: all 0.3s ease-in-out
  }
}

.arrow-btn{
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
}

.left-arrow{
    left: 8px;
    transform: translateY(-50%) rotate(180deg);
    filter: opacity(50%);
}

@media screen and (max-width: 600px) {
  .left-arrow{
    margin-left: -5px;
    transition: all 0.3s ease-in-out
  }
}

.right-arrow{
    right: 8px;
    filter: opacity(50%);
}
@media screen and (max-width: 600px) {
  .right-arrow{
    margin-right: -5px;
    transition: all 0.3s ease-in-out
  }
}

.arrow-btn:hover{
    filter: opacity(50%);
}

#close{
  font-size: medium;
  margin-top: 0px;
  text-decoration: none;
  color: black;
}


.copy{
  text-align: center;
  padding-bottom: 20px;
  font-family: Pro-display-medium;
  font-size: 15px;
}

@media screen and (max-width: 600px) {
  .copy{
    font-size: 10px;
    transition: all 0.3s ease-in-out
  }
}
@media screen and (max-width: 450px) {
  .copy{
    font-size: 10px;
    transition: all 0.3s ease-in-out
  }
}
